.item {
    background-color: var(--highlight);
}

#relative {
    position: relative;
    bottom: 20px;
    left: 40px;
}

.fixed-container {
    border: 2px solid var(--light);
}

#fixed {
    position: fixed;
    left: 50vw;
    top: 50vh;
}

.absolute-container {
    position: relative;
    width: 70px;
}

#absolute {
    position: absolute;
    bottom: 20px;
    left: 40px;
}



static
relative
absolute
sticky